@media print {

	table.results {
		border-collapse: collapse;
	}

	table.results, table.results td, table.results tr, table.results th {
		border: 1px solid #dddddd;
	}

}

@page figures {
	size: landscape;
}

tr    { 
	page-break-inside:avoid; page-break-after:auto;
	orphans: 5;
}

thead { 
	display:table-header-group;
}

tbody {
    display:table-row-group;
}

th.employee {
	text-align: center;
}

tfoot { 
	display:table-footer-group;
}

th.time {
	text-align: right;
}

