table {
	page-break-inside:auto;
}

tr    { 
	page-break-inside:avoid; page-break-after:auto;
}

thead { 
	display:table-header-group;
}

th.employee {
	text-align: center;
}

tfoot { 
	display:table-footer-group;
}

th.time {
	text-align: right;
}

