@(employeeForm: Form[Seq[model.Employee]])

@import helper._

@main("Employee Input") {
	
    @helper.form(action = routes.Application.submitForm, args = 'id -> "helloform") {
      <fieldset>
    	<dl><dd>Name</dd></dl>
    	<dl><dd>Pharmacist</dd></dl>
    	<dl><dd>Start Time</dd></dl>
    	<dl><dd>End Time</dd></dl>
      </fieldset>
		@repeat(employeeForm("employees"), min = 5) { emp =>
            <fieldset>
			@inputText(emp("name"), '_label -> "Name")
			@checkbox(emp("isPharmacist"), 'class -> "pharmacist")
			@inputText(emp("start"), '_label -> "Start Time")
			@inputText(emp("end"), '_label -> "End Time")
			</fieldset>
		}
		
		<input type="submit" value="Create">
	}
}